.header {
display: flex;
padding: 32px 0 28px;
font-weight: 700;
align-items: center;
font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__logo {
 margin-right: 24px;
}


.header__add-clothes-btn {
margin-left: auto;
margin-right: 20px;
border: none;
background-color: transparent;
font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__username {
margin-right: 12px;
font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__datetime {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

